# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# assets
/public/icons
/src/icons
/assets_process/assets
/assets_process/icons
/assets_process/json
/assets_process/download_assets.cmd
/assets_process/index
/assets_process/index.json
/assets_process/map.json

copy_res_from_gitee.cmd



